<!-- profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin Profile</title>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/homePage.css" />
</head>
<body class="flex items-center justify-center min-h-screen">
  <div class="bg-gradient-to-br from-blue-900 to-purple-900 rounded-lg shadow-lg p-8 w-full sm:w-3/4 md:w-2/3 lg:w-1/2">
    <div class="text-white">
      <h2 class="text-3xl font-semibold mb-8">Admin Profile Details</h2>
      <div class="divide-y divide-gray-200">
        <div class="py-4">
          <p class="text-lg font-medium mb-2">Name:</p>
          <p class="text-lg"><%= admin.name %></p>
        </div>
        <div class="py-4">
          <p class="text-lg font-medium mb-2">Email:</p>
          <p class="text-lg"><%= admin.email %></p>
        </div>
        <div class="py-4">
          <p class="text-lg font-medium mb-2">Head of the Department of:</p>
          <p class="text-lg"><%= admin.dept_name %></p>
        </div>
      </div>
      <div class="mt-8">
        <a href="/" class="bg-gray-500 hover:bg-gray-600 text-white font-semibold p-4 rounded-lg shadow-md ">
          Back To Home
        </a>
      </div>
    </div>
  </div>
</body>
</html>
