<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>

      body {
        margin: 0;
        padding: 0;
        background-color: #5aba99;
        color: #333;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .contentContainer {
        height: 100vh;
        width: 100vw;
        padding: 40px;
        background-color: #3c7c8b;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
        
      .title {
        font-size: 28px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 30px;
      }

      .input-field {
        position: relative;
        border-bottom: 2px solid #cbf078;
        margin: 50px;
      }

      .input-field label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-25%);
        color: #cbf078;
        font-size: 16px;
        font-weight: 700;
        pointer-events: none;
        transition: 0.15s ease;
      }

      .input-field input {
        width: 100%;
        height: 40px;
        background: transparent;
        border: none;
        outline: none;
        word-spacing: 2px;
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
        color: #fff;
        padding-top: 10px; /* Adjusted padding to create space for the label */
      }

      .input-field input:focus ~ label,
      .input-field input:valid ~ label {
        font-size: 0.7rem;
        top: 0; /* Adjusted position when focused or valid */
        transform: translateY(-40%);
      }
        
      .aTagContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
      }
      a {
        height: 5vh;
        width: 15vw;
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: beige;
        border: 1px solid #ddd;
        border-radius: 8px;
        transition: all 0.3s ease;
        text-decoration: none; /* Ensure links have no underline */
        color: inherit; /* Ensure link text color is inherited */
      }

      a:hover {
        background-color: #cbf078;
        transform: scale(1.02);
      }




      
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container">

      <div class="contentContainer">
      
        <div class="contentBox">
      
          <div class="title">Change Password</div>

          <div class="input-field">
            <input type="password" name="password" required>
            <label>Enter old password</label>
          </div>


          <div class="input-field">
            <input type="password" name="password" required>
            <label>Enter new password</label>
          </div>


          <div class="input-field">
            <input type="password" name="password" required>
            <label>Confirm new password</label>
          </div>

          <div class="aTagContainer">
            
            <a href="/homepage" class="option">Back to Home Page</a>
          </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
