<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="contentContainer">
            <div class="contentBox">
                <div class="title">Settings</div>
                <div class="optionList">
                    <div class="option">
                        <div class="icon"><i class="fas fa-user"></i></div>
                        <div class="text">Edit Profile</div>
                    </div>
                    <a href="/change-password" class="option">
                        <div class="icon"><i class="fas fa-key"></i></div>
                        <div class="text">Change Password</div>
                    </a>
                    <div class="option">
                        <div class="icon"><i class="fas fa-moon"></i></div>
                        <div class="text">Change Theme</div>
                    </div>
                    <a href="/logout" class="option">
                        <div class="icon"><i class="fas fa-sign-out-alt"></i></div>
                        <div class="text">Logout</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>