<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/homePage.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="image">
          <img src="/images/Coding Profile Photo.jpg" alt="">
        </div>
        <div class="name">
          <h2><%= students.name %></h2>
        </div>
        <div class="nav-contents">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
          <a href="/settings">Settings</a>
          <a href="/logout">Logout</a>
        </div>
      </nav>
    </header>

    <div class="hero-section">
      <div class="post-container">
        <div class="post-sending-section">
          <h3>What's on your mind?</h3>

          <form action="/posts" method="POST">
            <textarea
              name="postContent"
              placeholder="Share something..."
              rows="4"
            ></textarea>
            <button type="submit">Post</button>
          </form>

        </div>

      



        <div class="post-section">
        <!-- Include posts.ejs and pass the posts data to it -->
          <%- include('posts', { posts: posts }) %>

      </div>

      </div>
    </div>

    <footer>&copy; 2024 My Awesome Website. All rights reserved.</footer>
  </body>
</html>
