body {
  background-image: url("./images/forest.jpg");
  background-size: cover;
  backdrop-filter: blur(2px);
  color: #f5fd02;
  font-family: "Times New Roman";
  font-size: larger;
}
html,
body {
  height: 100vh;
}
.main-content{
  
  height: 100vh;
}
table {
  border: 2px solid #f5fd02;
}
tr,
th,
td {
  border: 2px solid #f5fd02;
}
