body {
  background-image: url("./images/forest.jpg");
  background-size: auto;
  backdrop-filter: blur(2px);
  color: #f5fd02;
  font-family: "Times New Roman";
  font-size: larger;
}

table {
  border: 2px solid #f5fd02;
}
tr,
th,
td {
  border: 2px solid #f5fd02;
}
.sidebar {
  position: static;
  height: 100rem;
}